:root {
  --button-color-normal: #a3d5f7;
  --button-color-caution: #ff6161;
  --button-color-success: lightgreen;
  --menu-background-color: #a3d5f7;
  --menu-border-color: #67bbf5;
  --menu-selected-color: #67bbf5;

  --background-color: white;
  --text-color: black;

  --table-header-color: #a3d5f7;
  --table-row-color: #e3f6fc;
  --table-dim-color: #DDD;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
